/* ****************************************
Global Primary & Secondary Fonts
**************************************** */

// [ Font Import ]
@font-face {
    font-family: FuturaStd-Heavy;
    src: url("../fonts/FuturaStd-Heavy.otf") format("opentype");
}

@font-face {
    font-family: FuturaStd-Book;
    src: url("../fonts/FuturaStd-Book.otf") format("opentype");
}

@font-face {
    font-family: AvenirLTStd-Black;
    src: url("../fonts/AvenirLTStd-Black.otf") format("opentype");
}

@font-face {
    font-family: AvenirLTStd-Roman;
    src: url("../fonts/AvenirLTStd-Roman.otf") format("opentype");
}

// [ Default Font Family ]
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "FuturaStd-Heavy";
}

p {
    font-family: "AvenirLTStd-Roman";
}

// [ Regular & Alternative Classes ]
.regular {
    font-family: "FuturaStd-Book";
    font-weight: normal;
}

.alt-font {
    font-family: "AvenirLTStd-Black";
}