/* ****************************************
Global Navbar & Footer
**************************************** */


/***** Navbar  *****/

nav {
    color: #ffffff;
    a {
        font-size: 15px;
    }
}

// [ Small ]
.logo-mobile {
    float: left;
    padding: .5rem 0;
    width: 150px;
    height: 40px;
    #logo-mobile {
        width: 100%;
        height: 100%;
        fill: #68689F;
    }
}

.title-bar {
    padding: .8rem .5rem;
}

.top-bar {
    padding: 0px;
}

.top-bar .menu {
    background-color: $dark-gray;
}

.menu-icon {
    position: relative;
    float: right;
    top: 10px;
}

.nav-links {
    text-align: center;
    li {
        border-top: 1px solid #363636;
    }
    li:first-child {
        border: none;
    }
    .is-accordion-submenu-item {
        background-color: #ffffff;
        border: none;
        a {
            color: #68689F;
            border-top: 1px solid #eaeaea;
        }
    }
}

@media screen and (max-width: 39.9375em) {
    #nav-menu .nav-wrapper {
        position: absolute;
        width: 100%;
        left: 0;
        z-index: 2;
    }
    .nav-links {
        li a {
            padding: 20px;
        }
    }
}

// [ Medium Up ]
@media screen and (min-width: 40em) {
    .top-bar,
    .top-bar .menu {
        background-color: transparent;
    }
    .nav-wrapper {
        padding: 1em 4%;
        top: 0;
    }
    .logo #logo {
        width: 205px;
        height: 37px;
        fill: #FFFFFF;
    }
    .nav-links {
        float: right;
        li {
            padding: 0;
            border: none;
        }
        .nav-cta {
            padding-left: 15px;
            border: none;
            a {
                padding: 10px 10px;
                border: 1px solid white;
                border-radius: 5px;
                color: #ffffff;
                transition: all .3s ease;
            }
            a:hover {
                background-color: #86B882;
                border-color: #86B882;
            }
        }
        .dropdown-arrow {
            width: 10px;
            height: 10px;
            margin: 0px 5px;
            fill: #ffffff;
        }
        a:hover .dropdown-arrow {
            fill: $light-purple;
        }
    }
    .dropdown.menu.medium-horizontal>li.opens-left>.is-dropdown-submenu {
        min-width: 100%;
        left: -50%;
        right: -50%;
        padding: 0px 5px;
        border: none;
        background-color: #ffffff;
        box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        .caret-up {
            position: absolute;
            width: 0;
            height: 0;
            top: -5px;
            left: 50%;
            margin-left: -10px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #ffffff;
        }
        li {
            border-top: 1px solid #eaeaea;
        }
        a {
            margin-top: 5px;
            margin-bottom: 5px;
            color: #68689F;
            &:hover {
                background-color: #f3f3f3;
            }
        }
    }
}

// [ In between ]
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .nav-wrapper {
        padding: 1em .5em !important;
        li a {
            font-size: 12px;
            padding-left: 0.7em;
            padding-right: 0.7em;
            line-height: 5px;
        }
    }
    .logo #logo {
        width: 150px;
        height: 32px;
        fill: #FFFFFF;
    }
}


/***** Footer  *****/

// [ Medium Up ]
footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $dark-gray;
    color: $white;
    hr {
        margin: 5px 0px 20px 0px;
        width: 30px;
    }
    a {
        display: block;
        font-family: FuturaStd-Book;
    }
}

// [ Small Up ]
@media screen and (max-width: 39.9375em) {
    footer {
        padding: 20px 20px;
        .column {
            padding: 20px 0;
            border-bottom: 1px solid #363636;
        }
        .column:last-child {
            border: none;
        }
        hr {
            margin: 5px 0px 20px 0px;
            width: 30px;
        }
        a {
            display: block;
            font-family: FuturaStd-Book;
        }
    }
}