/* ****************************************
Global Navbar & Footer
**************************************** */


/***** Navbar  *****/

nav {
    color: #ffffff;
    a {
        font-size: 15px;
    }
}

// [ Small ]
.logo-mobile {
    float: left;
    padding: .5rem 0;
    width: 150px;
}

.title-bar {
    padding: 1rem .5rem;
}

.menu-icon {
    position: relative;
    float: right;
    top: 10px;
}

.nav-links {
    text-align: center;
    li {
        padding: 5px;
        border-bottom: 1px solid #363636;
    }
    li:last-child {
        border: none;
    }
}

@media screen and (max-width: 39.9375em) {
    #nav-menu .nav-wrapper {
        position: absolute;
        width: 100%;
        left: 0;
        z-index: 2;
    }
}

// [ Small Up ]
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .nav-wrapper {
        padding: 1em .5em !important;
        li a {
            font-size: 13px;
            padding-left: 0.7em;
            padding-right: 0.7em;
            line-height: 5px;
        }
    }
    .logo {
        img {
            width: 150px;
        }
    }
}

// [ Medium Up ]
@media screen and (min-width: 40em) {
    .top-bar,
    .menu {
        background-color: transparent !important;
    }
    .nav-wrapper {
        padding: 1em 4%;
        top: 0;
    }
    .nav-links {
        float: right;
        li {
            padding: 0;
            border: none;
        }
        li:last-child {
            padding-left: 15px;
            border: none;
            a {
                padding: 10px 10px;
                border: 1px solid white;
                border-radius: 5px;
                color: #ffffff;
                transition: all .3s ease;
            }
            a:hover {
                background-color: #86B882;
                border-color: #86B882;
            }
        }
    }
}


/***** Footer  *****/

// [ Medium Up ]
footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $dark-gray;
    color: $white;
    hr {
        margin: 5px 0px 20px 0px;
        width: 30px;
    }
    a {
        display: block;
        font-family: FuturaStd-Book;
    }
}

// [ Small Up ]
@media screen and (max-width: 39.9375em) {
    footer {
        padding: 20px 20px;
        .column {
            padding: 20px 0;
            border-bottom: 1px solid #363636;
        }
        .column:last-child {
            border: none;
        }
        hr {
            margin: 5px 0px 20px 0px;
            width: 30px;
        }
        a {
            display: block;
            font-family: FuturaStd-Book;
        }
    }
}