/* ****************************************
Business
**************************************** */


/***** Header Gradient Background  *****/

.business-page .header-bg-gradient {
    height: 27rem;
    overflow: hidden;
    .icon-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30rem;
        z-index: 1;
        .icon {
            position: absolute;
            top: 7rem;
        }
    }
}

// [ Tablet ]
@media screen and (max-width: 63.9375em) {
    .business-page .header-bg-gradient {
        height: 31rem;
        overflow: visible;
        .icon-container {
            height: 34rem;
            .icon {
                top: auto;
                bottom: 0;
                left: 0;
                width: 100%;
                max-height: 220px;
                object-fit: contain;
            }
        }
    }
}

// [ Mobile ]
@media screen and (max-width: 39.9375em) {
    .business-page .header-bg-gradient {
        .icon-container .icon {
            left: 0;
            right: 0;
            width: 100%;
            max-height: 150px;
            object-fit: contain;
        }
    }
}


/***** Header Section  *****/

.business-page .header-section {
    height: 21.5rem;
    .text-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
}

// [ Tablet ]
@media screen and (max-width: 63.9375em) {
    .business-page .header-section {
        height: 25rem;
        .row {
            align-items: flex-start;
            padding-top: 3rem;
        }
        .text-container {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            text-align: center;
        }
    }
}

// [ Mobile ]
@media screen and (max-width: 39.9375em) {
    .business-page .header-section {
        height: 25rem;
        .row {
            align-items: flex-start;
            padding-top: 0.5rem;
        }
    }
}


/***** Advantage Section  *****/

.advantage-section {
    padding-top: 100px;
    padding-bottom: 100px;
    >.row {
        margin-top: 30px;
    }
    .venn-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .venn {
        height: 100%;
    }
    .venn-description-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
    }
    .description {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
    }
    .circle {
        display: inline-block;
        padding: 10px;
        margin-right: 20px;
        border-radius: 10px;
    }
    #circle-1 {
        background-color: #76CCDB;
    }
    #circle-2 {
        background-color: #EBC4C4;
    }
    #circle-3 {
        background-color: #E0C77F;
    }
}

// [ Tablet ]
@media screen and (max-width: 63.9375em) {
    .advantage-section {
        padding-top: 150px;
        padding-bottom: 75px;
        >.row {
            margin-top: 15px;
        }
        .venn {
            height: 200px;
        }
        .venn-description-container {
            padding: 30px 15px;
        }
        .description {
            flex-flow: column nowrap;
            margin-top: 10px;
            text-align: center;
        }
        .circle {
            width: 100%;
            padding: 4px;
            margin-bottom: 10px;
        }
    }
}

// [ Mobile ]
@media screen and (max-width: 39.9375em) {
    .advantage-section {
        padding: 100px 0 15% 0;
    }
}


/***** Middle Gradient Background  *****/

.business-page .mid-bg {
    height: 70%;
    margin-top: 680px;
    z-index: 0;
    .upper-curve {
        fill: #FBFAFF;
    }
}

// [ Mobile ]
@media screen and (max-width: 39.9375em) {
    .business-page .mid-bg {
        height: 65%;
    }
}


/***** Case Studies Section  *****/

.case-studies-section {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #FBFAFF;
    .card {
        position: relative;
        margin-top: 40px;
        overflow: visible;
        z-index: 1;
    }
    .title-container {
        position: absolute;
        display: flex;
        justify-content: center;
        top: -20px;
        left: 0px;
        width: 100%;
        z-index: 2;
        .title {
            margin: 0px;
            padding: 10px;
            width: 180px;
            background-color: #DAF1FA;
            color: #7AAFC3;
            border-radius: 4px;
            text-align: center;
        }
        h5 {
            margin: 0px;
        }
    }
    .graphic-container {
        position: absolute;
        top: 25%;
        right: -120px;
        width: 300px;
    }
    .graphic {
        display: none;
        &[data-active] {
            display: block;
        }
    }
    .task-types {
        position: relative;
        padding: 30px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: #44476B;
        h5 {
            color: #FFFFFF;
            line-height: 24px;
            opacity: 0.5;
            cursor: pointer;
        }
        h5:hover {
            opacity: 0.25;
        }
        h5[data-active] {
            opacity: 1;
            transition: opacity .5s ease;
        }
        .caret {
            position: absolute;
            width: 0px;
            height: 0px;
            top: 30px;
            right: 0px;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid #FFFFFF;
            transition: all .3s ease;
        }
    }
    .case-container {
        padding: 50px;
        height: 605px;
    }
    .case {
        width: 80%;
        display: none;
    }
    .case[data-active] {
        display: block;
    }
    .button-container {
        position: absolute;
        right: 25px;
        bottom: -25px;
    }
}

// [ Tablet ]
@media screen and (max-width: 63.9375em) {
    .case-studies-section {
        padding: 50px 0;
        .graphic-container {
            top: auto;
            bottom: 30px;
            right: 40px;
            width: 200px;
            opacity: 0.5;
        }
        .title-container {
            display: none;
        }
        .task-types {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 20px 5px 20px 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 0px;
            h5 {
                margin: 0;
                padding: 5px;
                width: 25%;
                font-size: 15px;
                line-height: 15px;
                text-align: center;
            }
            .caret {
                top: auto;
                bottom: -5px;
                right: auto;
                left: 12.5%;
                transform: rotate(90deg);
            }
        }
        .case-container {
            padding: 40px;
            height: 700px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        .button-container {
            right: auto;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%)
        }
    }
}

// [ Mobile ]
@media screen and (max-width: 39.9375em) {
    .case-studies-section {
        padding: 15% 2%;
        .graphic-container {
            top: 50%;
            right: 50%;
            margin: -150px;
            width: 300px;
            opacity: 0.1;
        }
        .task-types {
            padding: 20px 5px 20px 5px;
            h5 {
                font-size: 12px;
                line-height: 12px;
            }
        }
        .case-container {
            padding: 30px;
            height: 700px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            text-align: center;
            h5 {
                font-size: 15px;
                line-height: 15px;
            }
        }
        .case {
            width: 100%;
        }
    }
}


/***** Brands Section  *****/

.business-page .brands-section {
    position: relative;
    padding-top: 0;
    padding-bottom: 50px;
    background: none;
    .title {
        color: #B1B3DB;
    }
    svg {
        fill: #ffffff;
        opacity: 1;
    }
}

// [ Tablet ]
@media screen and (max-width: 63.9375em) {
    .business-page .brands-section {
        padding-top: 50px;
    }
}

// [ Mobile ]
@media screen and (max-width: 39.9375em) {
    .business-page .brands-section {
        padding: 15% 0;
    }
}


/***** Project Flow Section  *****/

.projectflow-section {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #ffffff;
    box-shadow: 4px 4px 12px 5px rgba(0, 0, 0, 0.15);
    .pf-graphic-container {
        position: relative;
        margin-top: 50px;
        background: url('../img/projectflow-bg.png') no-repeat center;
        background-size: contain;
    }
    .pf-graphic {
        display: flex;
        justify-content: center;
        img {
            object-fit: contain;
        }
    }
    #prev-arrow,
    #next-arrow {
        position: absolute;
        top: 0;
        height: 100%;
        width: 20px;
        fill: #d8d8d8;
        cursor: pointer;
        &:hover {
            fill: #75758F;
        }
    }
    #prev-arrow {
        left: 0;
    }
    #next-arrow {
        right: 0;
    }
    .pf-desc-container {
        margin-top: 75px;
        text-align: center;
        h4 {
            display: inline-block;
            padding: 5px 30px;
            border-radius: 20px;
            background-color: #68689F;
            color: #ffffff;
        }
    }
    .pf-timeline {
        position: relative;
        margin-top: 15px;
        .fill {
            position: absolute;
            top: 0;
            width: 100%;
            img {
                position: absolute;
                object-position: left top;
                -webkit-clip-path: polygon(0% 0%, 3.574% 0%, 3.574% 100%, 0% 100%);
                transition: all .5s ease;
            }
        }
    }
}

// [ Tablet ]
@media screen and (max-width: 63.9375em) {
    .projectflow-section {
        padding-top: 75px;
        padding-bottom: 75px;
    }
}

// [ Mobile ]
@media screen and (max-width: 39.9375em) {
    .projectflow-section {
        padding: 15% 0;
        .pf-graphic-container {
            margin-top: 30px;
        }
        .dots-container.pf-dots {
            margin-top: 30px;
            padding: 0;
        }
        .pf-desc-container {
            margin-top: 0;
        }
        .pf-timeline {
            margin-top: 0px;
        }
    }
}


/***** Testimonial Section  *****/

.business-page .clients-section {
    background-color: #FBFAFF;
    .section-title {
        z-index: 2;
    }
}


/***** Featured Section  *****/

.featured-section {
    background-color: #FBFAFF;
    padding-top: 100px;
    padding-bottom: 100px;
    .featured-container {
        div {
            position: relative;
            height: 100px;
            overflow: hidden;
        }
        img {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 80%;
            opacity: 0.5;
        }
    }
}

// [ Tablet ]
@media screen and (max-width: 63.9375em) {
    .featured-section {
        padding-top: 0;
        padding-bottom: 75px;
    }
}

// [ Mobile ]
@media screen and (max-width: 39.9375em) {
    .featured-section {
        padding: 0 0 15% 0;
    }
}


/***** Pricing Section  *****/

.pricing-section {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    .pricing-card-top {
        margin-top: 20px;
        padding: 50px;
        background-color: #7777B8;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        color: #ffffff;
        overflow: visible;
    }
    .top-text {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding-left: 30px;
        h3 {
            margin-top: 15px;
        }
    }
    .section-title {
        display: flex;
        align-items: flex-start;
        padding-left: 15px;
    }
    .pricing-graphic {
        position: relative;
        padding: 0;
        min-height: 175px;
        img {
            position: absolute;
            top: 50%;
            margin-top: -50%;
        }
    }
    .pricing-card-bottom {
        margin-top: 8px;
        padding: 50px;
        background-color: #45476B;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        color: #ffffff;
    }
    .bottom-text {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        p {
            margin-bottom: 0;
        }
    }
    .button-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0;
    }
}

// [ Tablet ]
@media screen and (max-width: 63.9375em) {
    .pricing-section {
        padding-top: 75px;
        padding-bottom: 75px;
        .pricing-card-top {
            padding: 40px;
            margin-top: 160px;
        }
        .top-text {
            padding: 30px 0 0 0;
            text-align: center;
        }
        .section-title {
            align-items: center;
            padding-left: 0;
        }
        .pricing-graphic {
            display: flex;
            justify-content: center;
            img {
                position: absolute;
                top: auto;
                bottom: 0;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%)
            }
        }
        .pricing-card-bottom {
            padding: 40px;
        }
        .bottom-text {
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .button-container {
            justify-content: center;
            margin-top: 15px;
        }
    }
}

// [ Mobile ]
@media screen and (max-width: 39.9375em) {
    .pricing-section {
        padding: 15% 3%;
        .pricing-card-top {
            padding: 30px;
            margin-top: 3rem;
        }
        .top-text p {
            margin-top: 10px
        }
        .pricing-card-bottom {
            padding: 30px;
        }
    }
}


/***** Bottom Gradient Background  *****/

.business-page .footer-bg-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 400px;
    width: 100%;
    background: url('../img/gradient-background.png') no-repeat;
    background-size: 100% 100%;
    z-index: -1;
    overflow-y: hidden;
    .curves {
        position: absolute;
        top: 0;
        fill: #ffffff;
    }
}

// [ Mobile ]
@media screen and (max-width: 39.9375em) {
    .business-page .footer-bg-gradient {
        top: auto;
    }
}