<footer>
    <div class="row">
        <div class="column small-12 medium-3">
            <h5>Products</h5>
            <hr align="left">
            <a href="/business.html">Business</a>
            <a href="http://entrepreneur.supahands.xyz/">Entrepreneur</a>
        </div>

        <div class="column small-12 medium-3">
            <h5>Company</h5>
            <hr>
            <a href="http://entrepreneur.supahands.xyz/about-us">About Us</a>
            <a href="http://careers.supahands.xyz/team">Team</a>
            <a href="http://careers.supahands.xyz/">Careers</a>
            <a href="/supaagent.html">Be A SupaAgent</a>
        </div>

        <div class="column small-12 medium-3">
            <h5>Others</h5>
            <hr>
            <a href="http://entrepreneur.supahands.xyz/terms-of-use">Terms of Use</a>
            <a href="http://entrepreneur.supahands.xyz/privacy-policy">Policy</a>
            <a href="http://entrepreneur.supahands.xyz/faq">FAQ</a>
        </div>

        <div class="column small-12 medium-3">
            <h5>Follow Us</h5>
            <hr>
            <a href="http://blog.supahands.com/">Blog</a>
            <a href="https://www.facebook.com/Supahands/">Facebook</a>
            <a href="https://twitter.com/mysupahands">Twitter</a>
            <a href="https://plus.google.com/+Supahands">Google</a>
            <a href="https://www.linkedin.com/company/supahands">LinkedIn</a>
        </div>
    </div>
</footer>