<footer>
    <div class="row">
        <div class="column small-12 medium-3">
            <h5>Products</h5>
            <hr align="left">
            <a href="#">Business</a>
            <a href="#">Entrepreneur</a>
        </div>

        <div class="column small-12 medium-3">
            <h5>Company</h5>
            <hr>
            <a href="#">About Us</a>
            <a href="#">Team</a>
            <a href="#">Careers</a>
            <a href="#">Be A SupaAgent</a>
        </div>

        <div class="column small-12 medium-3">
            <h5>Others</h5>
            <hr>
            <a href="#">Legal</a>
            <a href="#">Terms of Use</a>
            <a href="#">Policy</a>
            <a href="#">FAQ</a>
        </div>

        <div class="column small-12 medium-3">
            <h5>Follow Us</h5>
            <hr>
            <a href="#">Blog</a>
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Google</a>
            <a href="#">LinkedIn</a>
        </div>
    </div>
</footer>