<!-- Small Navigation -->
<nav class="title-bar show-for-small-only" data-responsive-toggle="nav-menu" data-hide-for="medium">
    <a class="logo-mobile" href="#"><img src="{{root}}/assets/img/supahands-logo.svg" /></a>
    <button class="menu-icon" type="button" data-toggle></button>
</nav>
<!-- Medium-Up Navigation -->
<nav class="top-bar" id="nav-menu">
    <div class="nav-wrapper">
        <a class="logo hide-for-small-only">
            <img src="{{root}}/assets/img/supahands-logo-invert.svg">
            </a>
        <ul class="vertical medium-horizontal menu nav-links">
            <li><a href="#">Products</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Company</a></li>
            <li><a href="#">Be A SupaAgent</a></li>
            <li class="hide-for-small-only">|</li>
            <li><a href="#">Get Started</a></li>
        </ul>
    </div>
</nav>