<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Supahands</title>
  <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>

<body>

  {{> svg}}
  {{> navbar}}
  {{> body}}
  {{> footer}}
  
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="{{root}}assets/js/app.js"></script>
  <script type="text/javascript" src="{{root}}assets/js/plugins/before-after.js"></script>
</body>

</html>